{% block javascripts %}
{% javascripts
    '@YjvReportRenderingBundle/Resources/public/js/html_report.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
<div{{ widget.attributes|attributes({"id": widget.reportId, "class": "report"}) }}>
{% if widget.hasFilterForm %}
{% block report_filters %}
<div id="report-filters{{ widget.reportId }}" class="report-filters well well-small collapse">
	<div>
		<button type="button" data-toggle="collapse" data-target="#report-filters{{ widget.reportId }}" class="btn" style="">Filters</button>
	</div>
	<div>
		<form>
			{% for filter in widget.filterForm.createView() %}
			{{ form_label(filter) }}
			{{ form_widget(filter) }}
			{% endfor %}
		</form>
	</div>
</div>
{% endblock %}
{% endif %}
{% block report_data %}
<table class="report-data table table-striped table-bordered table-hover">
	{% block report_header %}
	<thead>
		{% block report_header_row %}
		<tr>
			{% for column in widget.columns %}
				{% block report_header_cell %}
				{% set options = column.options %}
				<th {{ options.attr|default({})|attributes }}>
					{% if options.sortable|default(false) %}
						<a href="javascript:void(0)">{{ options.name|default('') }}</a>
					{% else %}
						{{ options.name|default('') }}
					{% endif %}
				</th>
				{% endblock %}
			{% endfor %}
		</tr>
		{% endblock %}
	</thead>
	{% endblock %}
	{% block report_body %}
	<tbody>
		{% for row in widget %}
			{% block report_row %}
			<tr {{ row.options.attr|default({})|attributes }}>
				{% for cell in row.cells %}
					{% block report_cell %}
					<td {{ cell.options.attr|default({})|attributes }}>
						{% if cell.options.escape_output|default(false) %}
							{{ cell.data }}
						{% else %}
							{{ cell.data|raw }}
						{% endif %}
					</td>
					{% endblock %}
				{% endfor %}
			</tr>
			{% endblock %}
		{% endfor %}
	</tbody>
	{% endblock %}
</table>
{% endblock %}
</div>